header {
  display: flex;
  align-items: center;
  height: 70px;
  background: linear-gradient(#fa7600, #cf4b00);
  box-shadow: 0px 1px 7px grey;
}

/*big-logo*/
header img {
  margin: 12px;
}

/*sign-out button*/
#signOut {
  margin-left: auto;
  margin-right: 10px;
  background: linear-gradient(#0068AA, #003E7F);
  width: 112px;
  height:2.8em;
  border: 1.5px solid #003E7F;
  border-radius: 6px;
  color: white;
}

body {
  font-family: "Arial", Helvetica, sans-serif ;
  background: linear-gradient(#F7F8FB,#CFD8E8);
}

/*information about the user*/
aside {
  float:right;
  width: 28%;
  height: 100%;
  margin-right: 10px;
  margin-top: 8px;
}

aside p{
}

aside p span {
  float:right;
}

aside h3 {
  border-top: 1.65px solid #c3c3c3;
  padding-top: 10px;
}

#recent {
  font-style: italic;
}

#recent li {
  margin: 8px;
}


/*the product section*/

#products {
  display: inline-flex;
  flex-flow: row wrap;
  width: 69%;
  justify-content: space-around;
  margin-top: 20px;
  border-right: 1.65px solid #c3c3c3;
  padding-right: 10px;
}

#products h2 {
  flex-basis:100%;
  margin-left: 10px;
  margin-top:  0px;
}

/* Concerning the articles */

/*products in general */
#products article {
  width: 31%;
  height: auto;
  background-color: white;
  margin: 10px 6px 10px 6px;
  border-radius: 7px;
}

/*products that the user has not bid on*/
#products article:not(.selected){
  box-shadow: 0 0 6px #b0b0b0;
  border: 1px #b0b0b0;
}

/*products the user has bid on*/
.selected {
  box-shadow: 0 0 6px #d4520b;
}

.selected p, .selected h3 {
  color: #d4520b;
}

/*expired products */

.expired {
  opacity: 0.4;
}

/*the image of a product */
#products article img {
  width: 100%;
  height:auto;
  border-radius: 7px 7px 0px 0px;
}

/*the title of a product*/
#products h3 {
  text-align: center;
  margin-bottom: 10px;
}

/*(first line) */
#products article p:nth-of-type(1) {
  text-align: center;
  margin: 13.8px;
}

/*scales the font size for products where a bid has been placed*/
#products article.bidden p:nth-of-type(1) {
  font-size: 1.5em;
  margin: 8px;
}

/*second line*/
#products article p:nth-of-type(2) {
  margin: 0px;
}

/*the counter*/
#products article p:nth-of-type(2) span:nth-of-type(1) {
  float: left;
  margin:0px 0px 20px 10px;
}

/*the highest bidding user*/
#products article p:nth-of-type(2) span:nth-of-type(2) {
  float: right;
  margin:0px 10px 20px 0px;
}

/* End of articles */

footer {
  clear:both;
  text-align: center;
}
